.form {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    height: 100vh;
}

.form input, textarea, button, label {
    width: 100%;
}

.form textarea {
    min-height: 150px;
    border: none;
    border-radius: var(--border-radius);
    resize: none;
    outline: none;
    padding: 10px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}