.container {
    display: flex;
    justify-content: space-between;
    background-color: #ffff;
    border-radius: var(--border-radius);
    padding: 10px;
    text-align: left;
}

.completed {
    background-color: grey;
} 

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 20px;
    color: blue;
}

.description {
    padding: 5px;
}

.date {
    display: flex;
    gap: 10px;
}

.date label {
    font-size: 14px;
    background: gold;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.buttons input {
    position: relative;
    top: 3px;
}

.buttons label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editButton {
    composes: button from '../UI/button/Button.module.css';
    background-color: green;
}

.editButton:hover {
    background-color: rgb(100, 168, 100);
    box-shadow: var(--box-shadow-active);
    transform: translateY(-1px);
}

.editButton:active {
    background-color: darkgreen;
    transform: translateY(0);
}