.container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 5px;
}

.numberPage {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    background-color: grey;
    align-items: center;
    color: white;
    cursor: pointer;
}