.container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.visibleModal {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content {
    width: 30%;
    height: 30%;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content span {
    padding: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}