
/*----------------------fonts-----------------------------*/

@font-face {
  font-family: 'Amatic SC', cursive;
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/AmaticSC-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Amatic SC', cursive;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/AmaticSC-Regular.ttf') format('ttf');
}


/*--------------------------------------------------------*/


:root {
  --main-fonts: 'Amatic SC', cursive, Arial, sans-serif;
  --bg-color-main: rgba(58, 75, 86, .4);
  --primary-color: rgba(58, 75, 86, .7);
  --border-radius: 5px;
  --box-shadow: 2px 2px 7px #000;
  --box-shadow-active: 4px 4px 8px #000;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-fonts);
  background-color: var(--bg-color-main);
  color: var(--primary-color);
}